*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.section{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.sect1{
    background-image: url(img/img1.jpg);
    padding-top: calc(50vh - 50px);
}

h1{
    background: black;
    color: white;
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
    line-height: 100px;
}

.sect2{
    width: 100%;
    text-align: center;
    padding: 60px 30px;
}

p{
    padding: 40px 0;
}

.sect3{
    height: 600px;
    background-image: url(img/img2.jpg);
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 600px;
}

.sect4{
    background-image: url(img/img3.jpg);
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 100vh;
}

